
<h1>Painel do usuário</h1>

<form id="formExemplo" data-toggle="validator" role="form">
  <div class="form-group">
    <label for="inputLogin" class="control-label">login</label>
    <input id="inputLogin" class="form-control" placeholder="Digite seu Login" type="text" required>
  </div>
  
  <div class="form-group">
    <label for="inputPassword" class="control-label">Senha</label>
    <input id="inputPassword" class="form-control" placeholder="Digite sua Senha" type="password" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>

<a [routerLink]="['/users']">Criar novo usuário</a>